node_modules/
.env
uploads/videos/
uploads/thumbnails/
uploads/avatars/
project/uploads/videos/
project/uploads/thumbnails/
project/uploads/avatars/
project/backend/uploads/videos/
project/backend/uploads/thumbnails/
.local/
*.log
